@model AnimeCentralWeb.Models.DomainViewModels.AnimeViewModel
@using AnimeCentralWeb.Domain
@using AnimeCentralWeb.Utils

<div class="content">
    <div class="content-header">
        <div class="title">@Model.Title</div>
        <div class="description">@Model.Type</div>
    </div>
    <div class="commands text-right">
        <div class="get-anime-list command" data-popup-clear="true"><i class="fa fa-list" aria-hidden="true"></i> Lista Anime</div>
        <div class="close-pop-up command"><i class="fa fa-times" aria-hidden="true"></i></div>
    </div>
    <div class="content-body anime">
        <table>
            <tr>
                <td>
                    <div class="anime-details">
                        <div class="cover">
                            <img src="@Model.Image" />
                            <span class="score">@Model.Score</span>
                            <div class="commands">
                                <div class="edit-anime-btn command" data-anime-id="@Model.Id">Editeaza</div>
                                <select class="set-translate-status command" asp-for="@Model.TranslateStatus" asp-items="@typeof(TranslateStatus).GetEnumSelectList()" data-anime-id="@Model.Id"></select>
                            </div>
                        </div>
                        <div class="details">
                            <label asp-for="NoOfEpisodes"></label>: <span class="noOfEpisodes">@Model.NoOfEpisodes</span><br />
                            <label asp-for="Status"></label>: <span class="noOfEpisodes">@Model.Status</span><br />
                            <label asp-for="Synonyms"></label>: <span class="noOfEpisodes">@Model.Synonyms</span><br />
                            <label asp-for="Genres"></label>: <span class="noOfEpisodes">@Model.Genres</span><br />
                        </div>
                    </div>
                </td>
                <td class="anime-description multi-tab">
                    <table class="tabs-labels">
                        <tr>
                            <td data-tab-target="#1" class="tab-label active">Descriere<hr /></td>
                            <td data-tab-target="#2" class="tab-label">Episoade<hr /></td>
                            @*<td data-tab-target="#3" class="tab-label">Recenzii<hr /></td>*@
                        </tr>
                    </table>
                    <div class="tabs">
                        <div class="tab active" data-tab-id="#1">
                            <div>@Html.Raw(Model.Synopsis.Replace("\\n", string.Empty))</div>
                        </div>
                        <div class="tab" data-tab-id="#2">
                            <div class="anime-episodes-list">
                                @foreach (var episode in Model.Episodes)
                                {
                                    <div class="anime-episode episode-popup" data-episode-id="@episode.Id">Episodul #@episode.Order@(string.IsNullOrEmpty(episode.Title) ? "" : ": " + episode.Title)</div>
                                }
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <table class="tab-commands">
                                    <tr>
                                        <td class="tab-command add-episode" data-anime-id="@Model.Id">Adauga Episod <i class="fa fa-video-camera" aria-hidden="true"></i></td>
                                    </tr>
                                </table>
                            }
                        </div>
                        @*<div class="tab" data-tab-id="#3">
                                Recenzii
                                <div class="tab-commands"></div>
                            </div>*@
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

