@model List<AnimeCentralWeb.Models.DomainViewModels.AnimeViewModel>
@using AnimeCentralWeb.Utils
<div class="content">
    <div class="content-header">
        <div class="title">LISTA DE ANIME</div>
        <div class="description">Toate anime-urile traduse sau in curs de traducere.</div>
    </div>
    <div class="commands text-right">
        <i class="fa fa-times close-pop-up command" aria-hidden="true"></i>
    </div>
    <div class="content-body anime-list-partial">
        <div class="anime-search">
            <div style="position:relative">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <input type="text" class="anime-search-input" placeholder="Cautare dupa nume...">
            </div>
            <div class="advanced-search">
                <div class="by-status">
                    <label>Dupa status</label>
                    <div class="options">
                        <div class="option active">Toate</div>
                        <div class="option">Ongoing</div>
                        <div class="option">Complet</div>
                    </div>
                </div>
                <div class="by-genre">
                    <label>Dupa gen</label>
                    <div class="options">
                        @foreach (var genre in AnimeUtils.Genres)
                        {
                            <div class="option">
                                <label><input type="checkbox" value="@genre" />@genre</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="anime-list">
            @foreach (var anime in Model)
            {
                <div class="anime-list-item anime-popup" data-name="@anime.Title.ToLower()" data-genre="@anime.Genres" data-status="@anime.TranslateStatus.GetDisplayName()" data-anime-id="@anime.Id" data-popup-clear="true">
                    <img src="@anime.Image" />
                    <div class="item-overlay">
                        <a href="https://myanimelist.net/anime/@(anime.MalId)" target="_blank" class="mal-source" >
                            <img src="apple-touch-icon-256.png" width="25" />
                        </a>
                        <div class="anime-name">@anime.Title </div>
                        <div class="anime-status">@anime.TranslateStatus.GetDisplayName() (@(anime.TranslatedEpisodes)/@(anime.NoOfEpisodes == 0 ? "?" : anime.NoOfEpisodes.ToString()))</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>