@model List<AnimeCentralWeb.Models.DomainViewModels.CommentViewModel>
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager;
<div class="comments">
    <div class="comments-header"><i class="fa fa-comment"></i> Comentarii (@Model.Count)</div>
    <table class="comments-list">
        @foreach (var comment in Model.Where(x => x.ParentCommentId == null))
        {
            <tr class="comment">
                <td class="comment-avatar"><img src="~/images/DefaultAvatar.jpg" class="component-shadow" /></td>
                <td class="comment-details">
                    <div class="comment-user">
                        @comment.User.UserName @if (signInManager.IsSignedIn(User))
                        {<span> - </span><div class="show-reply-form">Raspunde</div>}@if (userManager.GetUserId(User) == comment.User.Id)
                        {<span> - </span><div class="delete-comment" data-comment-id="@comment.Id">Sterge</div> }
                    </div>
                    <div class="comment-content">@comment.Content</div>

                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="new-comment">
                            <form class="new-comment-form">
                                <div asp-validation-summary="All"></div>
                                <input type="hidden" name="EpisodeId" value="@comment.EpisodeId" />
                                <input type="hidden" name="ParentCommentId" value="@comment.Id" />
                                <textarea class="comment-input" name="Content" placeholder="Scrie un comentariu..." />
                                <div class="comment-btn"><a>Comenteaza</a></div>
                            </form>
                        </div>
                    }

                    <div class="comment-replies">
                        <table class="comments">
                            @foreach (var reply in comment.Replies)
                            {
                                <tr class="comment">
                                    <td class="comment-avatar">  <img src="~/images/DefaultAvatar.jpg" class="component-shadow" /></td>
                                    <td class="comment-details">
                                        <div class="comment-user">
                                            @comment.User.UserName - @if (userManager.GetUserId(User) == comment.User.Id)
                                            { <div class="delete-comment" data-comment-id="@reply.Id">Sterge</div> }
                                        </div>
                                        <div class="comment-content">@reply.Content</div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    $(".show-reply-form").click(function () {
        $(this).closest(".comment").find(".new-comment").toggleClass("active");
    });


</script>

