@model AnimeCentralWeb.Models.DomainViewModels.EpisodeViewModel

<div class="content">
    <div class="content-header">
        <div class="title">@Model.Title</div>
        <div class="description">@Model.AnimeTitle - #@Model.Order</div>
    </div>
    <div class="commands text-right">
        <i class="fa fa-times close-pop-up command" aria-hidden="true"></i>
    </div>
    <div class="content-body episode-view">
        <div class="multi-tab">
            <div class="tabs-labels" style="display:table">
                <div style="display:table-row">
                    @{
                        @foreach (var source in Model.Sources)
                        {
                            <div style="display:table-cell" data-tab-target="#@(Model.Sources.IndexOf(source))" class="tab-label @(Model.Sources.IndexOf(source) == 0 ? "active" : "")">@source.Label</div>
                        }
                    }
                </div>
            </div>

            <div class="tabs">
                @foreach (var source in Model.Sources)
                {
                    <div class="tab @(Model.Sources.IndexOf(source) == 0 ? "active" : "")" data-tab-id="#@(Model.Sources.IndexOf(source))">
                        <iframe class="episode-frame" src="@source.Link" frameborder=0 marginwidth=0 marginheight=0 scrolling="no" width=100% height=100% allowfullscreen>
                        </iframe>
                    </div>
                }
            </div>
            <div class="episode-commands"><div class="edit-episode" data-episode-id="@Model.Id">Editeaza</div></div>
            <div class="view-count"><i class="fa fa-eye" aria-hidden="true"></i> Vizionari: @Model.ViewCount</div>
            <div class="new-comment">
                <form class="new-comment-form">
                    <input type="hidden" name="EpisodeId" value="@Model.Id" />
                    <textarea class="comment-input" name="Content" placeholder="Scrie un comentariu..." />
                    <div class="comment-btn"><a>Comenteaza</a></div>
                </form>
            </div>
            <div class="comments-container"></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            RefreshComments();
        });


        function RefreshComments() {
          $.get("Anime/GetComments?id=" + @Model.Id, function (data) {
            $(".comments-container").html(data);
          }).fail(function (data) {
            alert("A aparut o problema in afisarea ultimelor comentarii comentarilor.");
          });
        }

        $(".episode-frame").load(function () {
            $(".video-js").css("height", "100%");
            $(".video-js").css("padding-top", "0");
        });
        
    </script>
</div>