@model AnimeCentralWeb.Models.HomeViewModel
@using AnimeCentralWeb.Utils
<!DOCTYPE html>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}
<html>

<body>

    <!-- HEADER START -->
    <div class="header-video-container">
        <div class="video-container">
            <video id="video" width="100%" autoplay loop muted>
                <source src="ReZeroAMV.mp4" type="video/mp4">
            </video>
        </div>
        <div class="header-overlay">
            <div class="anime-source">
                <a class="menu-font" href="https://myanimelist.net/anime/31240/Re_Zero_kara_Hajimeru_Isekai_Seikatsu">Re:Zero kara Hajimeru Isekai Seikatsu</a>
            </div>
            <div class="nav-header-bar">
                <a href="/" style="text-decoration:none;">
                    <img src="~/logo-short.png"/>
                </a>
                <div class="menu-container">
                    <ul class="menu">
                        <li>
                            <div class="menu-option-content">
                                <a href="#" class="get-anime-list">Proiectele Noastre</a>
                            </div>
                        </li>
                        <li>
                            <div class="menu-option-content">
                                <div class="anime-search">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    <input type="text" class="anime-search-input" placeholder="Cauta anime...">
                                    <div class="anime-search-results">
                                        <div class="result-list">
                                            <div class="result" style="display:none">
                                                <div class="anime-image">
                                                    <img src="https://myanimelist.cdn-dena.com/images/anime/3/40451.jpg" />
                                                </div>
                                                <div class="details">
                                                    <div class="anime-title"><b>Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka</b> (<span class="anime-type">TV</span>)</div>
                                                    <div class="anime-score"><span class="glyphicon glyphicon-star" style="color:gold;"></span><span class="result-score">7.49</span></div>
                                                    <div class="anime-episodes">Episoade: 366</div>
                                                    <div class="anime-status">Finished Airing</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="no-results" style="display:none">Niciun rezultat pentru "<span class="search-value"></span>"</div>
                                        <div class="search-more">
                                            Vezi toate rezulatele pentru "<span class="search-value"></span>"
                                            <div class="spinner">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- HEADER END -->
    <div class="switch-theme">Switch to <b>dark theme</b>.</div>
    <div id="container">
        <!-- NEW EPISODES SLIDESHOW START -->
        <div class="row news">
            <div class="news-header">
                Ultimele Episoade
            </div>

            <div style="position: relative" class="component-shadow">
                <i class="glyphicon glyphicon-chevron-left left"></i>
                <i class="glyphicon glyphicon-chevron-right right"></i>
                <div class="news-list">
                    @foreach (var anime in Model.LatestAnimeUpdates)
                    {
                        <div class="news-list-item anime-popup" data-anime-id="@anime.Id">
                            <img src="@anime.Image" />
                            <div class="item-overlay">
                                <div class="episodes">
                                    @foreach (var ep in anime.Episodes.OrderByDescending(x => x.Order))
                                    {
                                        <div class="episode anime-episode episode-popup" data-episode-id="@ep.Id">Episodul @ep.Order</div>
                                    }
                                </div>
                                <div class="anime-name">@anime.Title</div>
                                <a href="https://myanimelist.net/anime/@anime.MalId" target="_blank" class="mal-source">
                                    <img src="apple-touch-icon-256.png" width="25" />
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- NEW EPISODES SLIDESHOW END -->

        <div class="row">
            <div class="col-md-12 col-lg-8 left-side">
                <!-- ANIME RECOMANDATION SLIDESHOW START -->
                <div class="anime-recom">
                    <div class="slideshow component-shadow">
                        <div class="slideshow-buttons">
                            <i class="glyphicon glyphicon-chevron-left prev-slide"></i>
                            <i class="glyphicon glyphicon-chevron-right next-slide"></i>
                        </div>
                        <div class="slides">
                            @foreach (var rec in Model.Recommendation)
                            {
                                <div data-index="@Model.Recommendation.IndexOf(rec)" class="slide anime-popup @(Model.Recommendation.IndexOf(rec) == 0 ? "active" : "")" data-anime-id="@rec.Id">
                                    <img src="@rec.BigImage" class="slide-image" />
                                    <div class="slide-description">
                                        <div class="slide-header">
                                            <span class="anime-title">
                                                @rec.Title
                                                <a href="https://myanimelist.net/anime/@rec.MalId" target="_blank" class="mal-source">
                                                    <img src="apple-touch-icon-256.png" width="20px" />
                                                </a>
                                            </span>
                                        </div>
                                        <div class="anime-description">
                                            @Html.Raw(rec.Synopsis.Replace("\\n", string.Empty))
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- ANIME RECOMANDATION SLIDESHOW END -->
                <!-- ANNOUNCEMETNS START -->
                <div class="anns">
                    <div class="anns-header"><i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> NEWS</div>
                    <div class="anns-list">
                        @foreach (var announcement in Model.LatestAnnouncements)
                        {
                            <div class="anns-list-item @announcement.Type.GetAnnouncementTypesCssClass() announcement-popup" data-announcement-id="@announcement.Id">
                                <div class="ann-type">@announcement.Type.GetDisplayName()</div>
                                <div class="ann-title">@announcement.Title</div>
                                <div class="ann-author"><span>@announcement.Author.UserName</span>, @announcement.Date.ToString("MMMM dd, yyyy", new System.Globalization.CultureInfo("ro")).ToLower()</div>
                            </div>
                        }
                    </div>
                    <div class="page-navigator">
                        @for (int i = 0; i <= Model.AnnouncementsCount / 5; i++)
                        {
                            <div class="page-number @(i == 0 ? "active" : string.Empty)" data-page-number="@(i+1)">@(i+1)</div>
                        }
                    </div>
                </div>
                <!-- ANNOUNCEMETNS END -->
            </div>

            <div class="col-md-12 col-lg-4 right-side">
                <!-- FACEBOOK + ANIME GENRE FILTER START -->
                <div style="text-align: center;">
                    <div class="fb-like-box-container">
                        <iframe id="facebook-like-box" class="component-shadow" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fwiensub%2F&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=531637330233211"
                                width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                </div>
                <div style="width:100%;">
                    <div class="genre-filter">
                        <div class="search-details">
                            <span class="filter-header">CAUTA DUPA GEN</span>
                            <div class="genre-list">
                                @foreach (var genre in AnimeCentralWeb.Utils.AnimeUtils.Genres.Take(15))
                                {
                                    <span>@genre</span>
                                }
                                <div class="more-genre" style="display: none;">
                                    @foreach (var genre in AnimeCentralWeb.Utils.AnimeUtils.Genres.Skip(15))
                                    {
                                        <span>@genre</span>
                                    }
                                </div>
                                <i class="fa fa-angle-double-down more-genre-btn" aria-hidden="true"></i>


                            </div>
                            <div class="search-button">
                                <a>Cauta <span class="glyphicon glyphicon-search"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FACEBOOK + ANIME GENRE FILTER START -->
                <!-- TOP ANIME START -->
                <div class="top-anime">
                    <div class="sec-header">
                        <i class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></i> Anime Top 10
                    </div>
                    <div class="ranking component-shadow">
                        <div class="podium">
                            @foreach (var anime in Model.TopAnime.Take(3))
                            {
                                <div class="place anime-popup" data-anime-id="@anime.Id">
                                    <img id="images" src="@anime.Image" />
                                    <div class="item-overlay">
                                        <div class="rank">
                                            #@(Model.TopAnime.IndexOf(anime) + 1) <i class="fa fa-trophy" aria-hidden="true"></i>
                                        </div>
                                        <div class="score">
                                            <span>@anime.Title - @anime.AnimeViews</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="top-10">
                            @foreach (var anime in Model.TopAnime.Skip(3))
                            {
                                <div class="top-10-score anime-popup" data-anime-id="@anime.Id">#@(Model.TopAnime.IndexOf(anime) + 1) @anime.Title - @anime.AnimeViews</div>
                            }
                        </div>
                        <div class="line"></div>
                        <div class="show-top-10" data-target=".top-10">
                            <i class="fa fa-angle-double-down" aria-hidden="true"></i> #4 - #@(Model.TopAnime.Count) <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <!-- TOP ANIME END -->
                <!-- TREND ANIME START -->
                <div class="trend-anime">
                    <div class="sec-header">
                        <i class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></i> Top Episoade
                    </div>
                    <div class="ranking component-shadow">
                        <div class="podium">
                            @foreach (var episode in Model.TopEpisodes.Take(3))
                            {
                                <div class="place anime-popup" data-anime-id="@episode.Anime.Id">
                                    <img id="images" src="@episode.Anime.Image" />
                                    <div class="item-overlay">
                                        <div class="rank">
                                            #@(Model.TopEpisodes.IndexOf(episode) + 1) <i class="fa fa-trophy" aria-hidden="true"></i>
                                        </div>
                                        <div class="score">
                                            <span>@episode.Anime.Title #@episode.Order - @episode.ViewCount</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="trend-10">
                            @foreach (var episode in Model.TopEpisodes.Skip(3))
                            {
                                <div class="trend-10-score anime-popup" data-anime-id="@episode.Anime.Id">#@(Model.TopEpisodes.IndexOf(episode) + 1) @episode.Anime.Title #@episode.Order - @episode.ViewCount</div>
                            }
                        </div>
                        <div class="line"></div>
                        <div class="show-top-10" data-target=".trend-10">
                            <i class="fa fa-angle-double-down" aria-hidden="true"></i> #4 - #@Model.TopEpisodes.Count <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <!-- TREND ANIME END -->
                <!-- LASTEST COMMENTS START -->
                <div class="last-comm">
                    <div class="sec-header">
                        <i class="fa fa-comments" aria-hidden="true"></i> Ultimele Comentarii
                    </div>
                    <div class="last-comm-list component-shadow">
                        @foreach (var com in Model.LatestComments)
                        {
                            <div class="comm">
                                <span class="comm-author"><img src="@(com.User.Image == null ? "/images/DefaultAvatar.jpg" : "")" class="profile-pic" /> @com.User.UserName: <span class="comm-msg">“ @com.Content ”</span></span>
                                <a class="comm-source episode-popup" data-episode-id="@com.Episode.Id">@com.Episode.Anime.Title – Episodul @com.Episode.Order</a>
                                <span class="comm-date"><i class="fa fa-clock-o" aria-hidden="true"></i>@com.Date.ToString("dd/MM/yyyy")</span>
                                @if (Model.LatestComments.Last() != com)
                                {
                                    <div class="line"></div>
                                }
                            </div>
                        }
                    </div>
                </div>
                <!-- LATEST COMMENTS END -->
            </div>

            <div class="col-md-12 col-lg-8 left-side">

            </div>
        </div>
    </div>

    <!-- CHAT START -->
    <div class="chat-box">
        <span class="show-chat">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i> LIVE CHAT
        </span>
        <div class="chat">
            <script id="cid0020000150618151304" data-cfasync="false" async src="https://st.chatango.com/js/gz/emb.js" style="width: 100%;height: 100%;">
                {
                    "handle":"wien-subs2", "arch":"js", "styles":{ "a":"000000", "b":100, "c":"FFFFFF", "d":"FFFFFF", "k":"000000", "l":"000000", "m":"000000", "n":"FFFFFF", "p":"10", "q":"000000", "r":100, "fwtickm":1, "showx":0 }
                }
            </script>
        </div>
    </div>

    <!-- CHAT END -->
    <!-- SignalR Chat START-->
    <!-- SignalR Chat END-->
    <!-- ANIME QUICK SEARCH SIDEBAR START -->
    @*<div class="anime-quick-search">
            <div class="quick-search-overlay mCustomScrollbar" data-mcs-theme="minimal-dark">
                <div class="close-btn">
                    <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                </div>
                <div class="anime-details">
                    <div class="anime-header">
                        <div class="poster">
                            <img src="~/images/AnimeImages/10.jpg" class="component-shadow" />
                            <div class="anime-score"><span class="glyphicon glyphicon-star" style="color:gold;"></span><span class="result-score">7.49</span></div>
                        </div>
                        <div class="details">
                            <div class="anime-title"><b>Kono Subarashii Sekai ni Shukufuku wo! 2</b> (<span class="anime-type">TV</span>)</div>
                            <div class="genre-list">
                                <span>Aventura</span>
                                <span>Comedie</span>
                                <span>Supernatural</span>
                                <span>Magie</span>
                                <span>Fantezie</span>
                            </div>
                            <div class="anime-synonyms">Sinonime: Give Blessings to This Wonderful World! 2</div>
                            <div class="anime-episodes">Episoade: 10</div>
                            <div class="anime-date">Premiera: Winter 2017</div>
                            <div class="anime-status">Finished Airing</div>
                        </div>
                    </div>
                </div>
                <div class="anime-description">
                    <b>Descriere:</b><br />
                    After dying a laughable and pathetic death on his way back from buying a game, high school student and recluse Kazuma Satou finds himself sitting before a beautiful but obnoxious goddess named Aqua. She provides the NEET with two options: continue on to heaven or reincarnate in every gamer's dream—a real fantasy world! Choosing to start a new life, Kazuma is quickly tasked with defeating a Demon King who is terrorizing villages. But before he goes, he can choose one item of any kind to aid him in his quest, and the future hero selects Aqua. But Kazuma has made a grave mistake—Aqua is completely useless!
                    Unfortunately, their troubles don't end here; it turns out that living in such a world is far different from how it plays out in a game. Instead of going on a thrilling adventure, the duo must first work to pay for their living expenses. Indeed, their misfortunes have only just begun!
                </div>
                <div class="anime-episodes-list">
                    <div class="anime-episodes-header"><b>Episoade</b></div>
                    <div class="anime-episode">EP #1: "Give Me Deliverance from this Judicial Injustice!"</div>
                    <div class="anime-episode">EP #2: "A Friend For This Crimson Demon Girl!"</div>
                    <div class="anime-episode">EP #3: "Peace for the Master of This Labyrinth!"</div>
                    <div class="anime-episode">EP #4: "A Betrothed for This Noble Daughter!"</div>
                    <div class="anime-episode">EP #5: "Servitude for This Masked Knight!"</div>
                    <div class="anime-episode">EP #6: "Goodbye to This Irritating Living World!"</div>
                    <div class="anime-episode">EP #7: "An Invitation for This Knucklehead!"</div>
                    <div class="anime-episode">EP #8: "Sightseeing in This Pitiful City!"</div>
                    <div class="anime-episode">EP #9: "A Goddess for This Corrupt Hot Springs Town!"</div>
                    <div class="anime-episode">EP #10: "God's Blessing on This Wonderful Party!"</div>
                </div>
            </div>
        </div>*@
    <!-- ANIME QUICK SEARCH SIDEBAR END -->
    <!-- FOOTER START -->
    @*<div class="footer">
            © Wien-Subs - Powered by <a href="https://www.neoit.ro/">NeoIT Solutions™</a> | <span class="show-disclaimer">Repudiere/Disclaimer</span>
            <div class="disclaimer">
                Repudiere/Disclaimer <br> Wien-Subs nu gazduiește fișiere video, audio sau orice alt fel fișier media. Noi nu suntem
                responsabili pentru legalitatea drepturilor de autor. Dacă aveți orice problemă vă rugăm contactați corespunzător proprietarii
                de fișiere media sau site-urile gazdă. Wien-Subs not hosting files video, audio or any other media file. We are not
                responsible for the legality of copyright. If you have any problems please contact the appropriate owners of media
                files or host sites.
            </div>
        </div>*@
    <!-- FOOTER END -->


</body>

</html>



<script>
    var menuHeight = $('.nav-header-bar').height();
    var scrollEnded = true;

    $("#videoPlay").on("seeking", function () {
        console.log(this.currentTime)
    });
    $(window).scroll(function () {
        var scrolledDistance = $(this).scrollTop();
        var headerHeight = $('.header-video-container').height();
        if ((headerHeight - menuHeight < scrolledDistance)) {
            $('.nav-header-bar').addClass('nav-header-bar-fixed');
        }
        else {
            $('.nav-header-bar').removeClass('nav-header-bar-fixed');
        }
    });

    $(".page-number").click(function () {
        if ($(this).hasClass("active")) {
            return;
        }

        $(".page-number").removeClass("active");
        $(this).addClass("active");
        var page = $(this).attr("data-page-number");
        $.get("Anime/GetAnnouncementsPage", { page: page }, function (data) {
            $(".anns-list").replaceWith(data);
        });
    })

    $('.left, .right').click(function () {
        if (scrollEnded == false)
            return;

        var itemWidth = $(".news-list-item").width();
        if ($(this).hasClass("left")) {
            scrollEnded = false;
            $(".news-list").animate({
                scrollLeft: "-=" + itemWidth + "px",
            },
              function () {
                  scrollEnded = true;
              });
        }
        else {
            scrollEnded = false;
            $(".news-list").animate({
                scrollLeft: "+=" + itemWidth + "px",

            },
              function () {
                  scrollEnded = true;
              });
        }
    })

    var searchTimeOutIndex;
    $(".anime-search-input").on("input", function () {
        $(".spinner").show();
        clearTimeout(searchTimeOutIndex);
        $(".no-results").hide();
        var animeSearchTitle = $(this).val();
        if(animeSearchTitle == ""){
            $(".anime-search-results").hide();
            var resultTemplate = $(".result").clone();
            resultTemplate.css("display", "none");
            $(".result-list").html(resultTemplate[0].outerHTML);
            return;
        }

        $(".anime-search-results").show();
        $(".search-value").text(animeSearchTitle);
        searchTimeOutIndex = setTimeout(function(){
            $.ajax({
                url: "@Url.Action("SearchAnime","Home")" + "?searchText=" + animeSearchTitle,
                success: function (data) {
                    console.log(data);
                    if(data.more != undefined){
                        $(".result-list").hide();
                        $(".spinner").hide();
                        $(".no-results").show();
                        return;
                    }
                    $(".no-results").hide();
                    var resultList = "";
                    for (i = 0; i < data.length; i++){
                        var resultTemplate = $(".result").clone();
                        if (data[i].id > 0) {
                            resultTemplate.addClass("anime-popup");
                            resultTemplate.attr("data-anime-id", '' + data[i].id);
                            resultTemplate.removeAttr("onclick");
                        }
                        else {
                            resultTemplate.removeClass("anime-popup");
                            resultTemplate.attr("onclick", "window.open('https://myanimelist.net/anime/" + data[i].malId + "')");
                        }
                        resultTemplate.find(".anime-image img").attr("src", data[i].image);
                        resultTemplate.find(".anime-title b").text(data[i].title);
                        resultTemplate.find(".anime-title .anime-type").text(data[i].type);
                        resultTemplate.find(".anime-episodes").text("Episoade: " + data[i].noOfEpisodes);
                        resultTemplate.find(".anime-score .result-score").text(data[i].score);
                        resultTemplate.find(".anime-status").text(data[i].status);
                        resultTemplate.css("display", "table");
                        resultList += resultTemplate[0].outerHTML;
                    }
                    $(".result-list").html(resultList);
                    $(".result-list").show();
                    $(".spinner").hide();

                }
            });
        }, 500);
    });

    $(document).on("focusin",".anime-search-input",function () {
        var animeSearchTitle = $(this).val();
        var animeSearchList = $(this).closest(".anime-search").find(".anime-search-results");
        if(animeSearchTitle == ""){
            return;
        }
        animeSearchList.show();

    })

    $(document).on("focusout", ".anime-search-input", function () {
        if (!$(event.target).is(".result"))
            return;
        $(this).closest(".anime-search").find(".anime-search-results").hide();
    });
</script>