@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject UserManager<ApplicationUser> _userManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyB6VH7RhduKr_kE4EW9p8RfrL2ix3xj-sg",
            authDomain: "animecentral-64740.firebaseapp.com",
            databaseURL: "https://animecentral-64740.firebaseio.com",
            projectId: "animecentral-64740",
            storageBucket: "animecentral-64740.appspot.com",
            messagingSenderId: "358676794332"
        };
        firebase.initializeApp(config);
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css">
    <link rel="manifest" href="~/manifest.json">
    <title>@ViewData["Title"] - @User.Identity.Name - Anime Central</title>

    <!-- Imported js and css -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- My custom js and css -->
    <script src="~/site.min.js"></script>
    
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="admin-controllers">
        <div class="command add-anime">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Adauga Anime</span>
        </div>
        <div class="command add-announcement">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Adauga Anunt</span>
        </div>
        <div class="command register-account">
            <i class="fa fa-registered" aria-hidden="true"></i>
            <span>Inregistreaza-te</span>
        </div>
        <div class="command login-account">
            <i class="fa fa-registered" aria-hidden="true"></i>
            <span>Logeaza-te</span>
        </div>
    </div>

    <div class="pop-up">
        <div class="content spinner-container">
            <div class="content-body">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>

    </div>

    @RenderBody()
    @RenderSection("Scripts", required: false)

    <script>
        $(".add-anime").click(function () {
            $(".pop-up").css("z-index", 300);
            $(".pop-up").css("opacity", 1);
            $.get("/Anime/GetAddAnimePartial", function (data) {
                $(".pop-up").append(data);
            })
        });

        $(".add-announcement").click(function () {
            $(".pop-up").css("z-index", 300);
            $(".pop-up").css("opacity", 1);
            $.get("/Anime/GetAddAnnouncementPartial", function (data) {
                $(".pop-up").append(data);
            })
        });

        $(".register-account").click(function () {
            $(".pop-up").css("z-index", 300);
            $(".pop-up").css("opacity", 1);
            $.get("/Account/Register", function (data) {
                $(".pop-up").append(data);
            })
        });

        $(".login-account").click(function () {
            $(".pop-up").css("z-index", 300);
            $(".pop-up").css("opacity", 1);
            $.get("/Account/Login", function (data) {
                $(".pop-up").append(data);
            })
        })

        $(".get-anime-list").click(function () {
            $(".pop-up").css("z-index", 300);
            $(".pop-up").css("opacity", 1);
            $.get("Anime/GetAllAnime", function (data) {
                $(".pop-up").append(data);
                updateAnimeListWidth();
            }).fail(function (data) {
                console.log(data);

            })
        })

        $(document).on("click", ".close-pop-up", function () {
            $(".pop-up").find(".content").not(".spinner-container").remove();
            $(".pop-up").css("opacity", 0);
            $(".pop-up").css("z-index", -1);
        })

        $(document).on("click", ".multi-tab .tab-label", function () {
            var tabTargetId = $(this).attr("data-tab-target");
            var multiTabContainer = $(this).closest(".multi-tab");

            multiTabContainer.find(".tab-label").removeClass("active");
            multiTabContainer.find(".tab").removeClass("active");

            $(this).addClass("active");
            multiTabContainer.find(".tab[data-tab-id='" + tabTargetId + "']").addClass("active");
        });

        $(document).on("click", ".anime-popup", function () {
            var animeId = $(this).attr("data-anime-id");
            $(".pop-up").css("z-index", 300);
            $(".pop-up").css("opacity", 1);
            if (animeId != null) {
                $.get("Anime/GetAnimeByIdPartial?id=" + animeId, function (data) {
                    $(data).appendTo(".pop-up");
                }).fail(function () {
                    alert("A aparut o problema in cautarea anime-ului dorit. Incercati mai tarziu.");
                })
            }
        });

        $(document).on("click", ".episode-popup", function (event) {
            event.stopPropagation();
            var episodeId = $(this).attr("data-episode-id");
            $(".pop-up").css("z-index", 300);
            $(".pop-up").css("opacity", 1);
            $.get("Anime/GetEpisodePartial?id=" + episodeId, function (data) {
                $(".pop-up").append(data);
            }).fail(function () {
                alert("A aparut o eroare in cautarea episodului.");
            });
        });

        $(document).on("click", ".announcement-popup", function (event) {
            event.stopPropagation();
            var announcementId = $(this).attr("data-announcement-id");
            $(".pop-up").css("z-index", 300);
            $(".pop-up").css("opacity", 1);
            $.get("Anime/GetAnnouncementPartial?id=" + announcementId, function (data) {
                $(".pop-up").append(data);
            }).fail(function () {
                alert("A aparut o eroare in cautarea anuntului.");
            });
        });
    </script>
</body>


</html>
